<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

  <!-- Main Content -->

  <div class="row">

    <div class="col-sm-12 ">
      <div class="container-fluid py-3 my-5 ">
      <div class="container-fluid py-5 my-5 border">
        <h1 class="display-3 text-center">It's pronounced as <kbd>[EY]</kbd> + <kbd>[NER]</kbd></h1>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-2"></div>

    <div class="col-sm-5">
      
      <div class="row">
        <div class="container-fluid">
          <dl>
            <dt><p class="h4"><kbd>Einer</kbd> John Cupino is a highly-motivated individual with a passion for problem-solving. </p></dt>
    
            <dt><pre></pre></dt>
    
            <dt><p class="h4">As an IT professional with 7 years of working experience in software technology and IT project management,
              <kbd>Einer</kbd> has a proven track record of success in IT service management, system administration, and process automation. 
              </p></dt>

              <dt><pre></pre></dt>

            <dt><p class="h4">He possesses a unique combination of business communication and technical skills. Having worked as a project manager 
              before, he has mainly focused on application lifecycle management, site mobilization, divestment, and IT infrastructure operations projects. 
              <kbd>Einer</kbd>'s dedication to efficient and impactful work output has earned him recognition from colleagues and clients alike. 
              </p></dt>

              <dt><pre></pre></dt>

            <dt><p class="h4">When <kbd>Einer</kbd> isn't working, he enjoys playing airsoft, badminton, tennis, and video games. He is always seeking new challenges
              and opportunities to grow both professionally and personally. 
              </p></dt>

            <dt><pre>

            </pre></dt>

          </dl>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">

          <dl> 
            <dt><p class="h5">Project Management<div class="progress" style="height:30px"><div class="progress-bar bg-dark" style="width:80%;height:30px"></div></div></p></dt>
            <dt><p class="h5">Process Automation<div class="progress" style="height:30px"><div class="progress-bar bg-dark" style="width:90%;height:30px"></div></div></p></dt>
            <dt><p class="h5">Graphic Design<div class="progress" style="height:30px"><div class="progress-bar bg-dark" style="width:70%;height:30px"></div></div></p></dt>
            <dt><p class="h5">Data Analysis<div class="progress" style="height:30px"><div class="progress-bar bg-dark" style="width:95%;height:30px"></div></div></p></dt>
            
          </dl> 

        </div>
        
        <div class="col-sm-6">

          <dl> 
            <dt><p class="h5">Communication<div class="progress" style="height:30px"><div class="progress-bar bg-dark" style="width:85%;height:30px"></div></div></p></dt>
            <dt><p class="h5">Adaptability<div class="progress" style="height:30px"><div class="progress-bar bg-dark" style="width:95%;height:30px"></div></div></p></dt>
            <dt><p class="h5">Financials<div class="progress" style="height:30px"><div class="progress-bar bg-dark" style="width:90%;height:30px"></div></div></p></dt>
            <dt><p class="h5">Programming<div class="progress" style="height:30px"><div class="progress-bar bg-dark" style="width:85%;height:30px"></div></div></p></dt>
          </dl> 


          
        </script>
        </div>
      </div>

           

    </div>


    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <img src="\assets\images\me.png" class="img-fluid rounded" a href="newsletter_01.pdf"/>
        
          <pre>







          </pre>
        <div class="col-sm-1"></div>
        </div>
        <div class="row">
          <pre>        Need a copy of his resume?   <a href="\assets\Einer Cupino - Resume.pdf" target="_blank" class="btn btn-primary btn-sm bg-dark">Open PDF</a></pre>
        </div>
        
      </div>  
    </div>
    <div class="col-sm-1"></div>
  </div>



<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>