<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

  <!-- Main Content -->

  <div class="row">

    <div class="col-sm-12 ">
      <div class="container-fluid py-5 my-5 "></div>
      <div class="container-fluid py-5 my-5 border">
        <h1 class="display-1 text-center">It's pronounced as <kbd>[EY]</kbd> + <kbd>[NER]</kbd></h1>
      </div>
      <div class="container-fluid py-5 my-5 "></div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-1"></div>

    <div class="col-sm-6">
      
      <div class="row">

        <dl>
          <dt><h1><kbd>Einer</kbd> John Cupino is a highly-motivated individual with a passion for problem-solving. </h1></dt>
  
          <dt><pre></pre></dt>
  
          <dt><h1><kbd>He</kbd> is an energetic and friendly individual with 7 years of full-time working experience in
            banking software technology and IT project management. </h1></dt>

          <dt><pre>


          </pre></dt>

        </dl>
      </div>

      <div class="row bg-light">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">

          <dl> 
            <dt><h1>Project Management </h1></dt>
            <dt><h1>Process Automation</h1></dt>
            <dt><h1>Graphic Design</h1></dt>
            <dt><h1>Data Analysis</h1></dt>
            <dt><h1>Communication</h1></dt>
            <dt><h1>Adaptability</h1></dt>
            <dt><h1>Financials</h1></dt>
            <dt><h1>Programming</h1></dt>
          </dl> 

        </div>
        
        <div class="col-sm-3">

          <dl> 
            <dt><h1></p><div class="progress" style="height:38px"><div class="progress-bar bg-dark" style="width:80%;height:38px"></div></div></h1></dt>
            <dt><h1></p><div class="progress" style="height:38px"><div class="progress-bar bg-dark" style="width:90%;height:38px"></div></div></h1></dt>
            <dt><h1></p><div class="progress" style="height:38px"><div class="progress-bar bg-dark" style="width:70%;height:38px"></div></div></h1></dt>
            <dt><h1></p><div class="progress" style="height:38px"><div class="progress-bar bg-dark" style="width:95%;height:38px"></div></div></h1></dt>
            <dt><h1></p><div class="progress" style="height:38px"><div class="progress-bar bg-dark" style="width:85%;height:38px"></div></div></h1></dt>
            <dt><h1></p><div class="progress" style="height:38px"><div class="progress-bar bg-dark" style="width:95%;height:38px"></div></div></h1></dt>
            <dt><h1></p><div class="progress" style="height:38px"><div class="progress-bar bg-dark" style="width:90%;height:38px"></div></div></h1></dt>
            <dt><h1></p><div class="progress" style="height:38px"><div class="progress-bar bg-dark" style="width:85%;height:38px"></div></div></h1></dt>
          </dl> 

        </div>
      </div>

           

    </div>

     
      
        


    <div class="col-sm-1"></div>

    <div class="col-sm-3 py-2">

      <img src="\assets\images\me.png" class="img-fluid rounded" a href="newsletter_01.pdf"/>

      <div class="footer_box_content">
        <div class="cleaner_h10"></div>
        <p>Click Me</p>
        <div class="button_01"><a href="\assets\Einer Cupino - Resume.pdf">Read more</a></div>
    </div>
    

    </div>

    <div class="col-sm-1"></div>
  </div>







<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>