<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

  <!-- Main Content -->
  <div class="row bg-secondary">
    <div class="col-sm-12 ">
      <div class="container-fluid bg-secondary text-center">
        <pre>





        </pre>
        <h1 class="display-1 px-5">
          I'd like to connect with you!
        </h1>
      </div>
    </div>
  </div>

  <div class="row bg-secondary">
    <div class="col-sm-3 "></div>

    <div class="col-sm-3 ">
      <div class="container-fluid">
        <pre>







        </pre>
        <label for="exampleFormControlInput1" class="form-label">First Name</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Who am I speaking to?">

          <label for="exampleFormControlInput1" class="form-label">Last Name</label>
          <input type="email" class="form-control" id="exampleFormControlInput1">

          <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Where can I reach you?">

        <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@whatisyouremail.com">
        <pre>







        </pre>
      </div>
    </div>

    <div class="col-sm-3 "></div>
  </div>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>