<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

  <!-- Main Content -->


    <div class="col-sm-12 ">
      <div class="container-fluid bg-secondary">
        <h1 class="display-1 px-5 bg-secondary">
          <pre>




          </pre>
               Hi! My name is <kbd>Einer</kbd>.
          <pre>


          </pre>
        </h1>

        <h1 class="display-1 px-5 bg-secondary">
          <pre>




          </pre>
               I'm a  <del>electronics</del>  <kbd>software</kbd> engineer.
          <pre>


          </pre>
        </h1>

        <h1 class="display-1 px-5 bg-secondary text-right">
          <pre>




          </pre>
               I used to be in <kbd>big data</kbd> analytics before,
          <pre>


          </pre>
        </h1>
        <h1 class="display-1 px-5 bg-secondary text-right">
          <pre>




          </pre>
               but now I'm into tech <kbd>development</kbd>.
          <pre>


          </pre>
        </h1>
        <h1 class="display-1 px-5 bg-secondary text-right">
          <pre>




          </pre>
               I like <kbd>building</kbd> things out of nothing.
          <pre>


          </pre>
        </h1>

        <h1 class="display-1 px-5 bg-secondary text-right">
          <pre>




          </pre>
               If you want to know <kbd>more</kbd> about me or what I do, click the links above.
          <pre>


          </pre>
        </h1>
      </div>
    </div>







<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>