<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

  <!-- Main Content -->
  <div class="row">
    <pre>
    </pre>
    <div class="col-sm-4 bg-secondary">
      <div class="container-fluid">
        <div class="container-fluid py-5 my-5">
          <div class="card" style="width:600px">
            <img class="card-img-top" src="\assets\images\alm.png" alt="Card image">
            <div class="card-body">
              <pre>
              </pre>
              <h1 class="display-4 text-center">DOW Application Lifecycle Management</h1>
              <h4 class="text-center"><small>End-to-end application <kbd>security</kbd> project</small></h4>
              <blockquote class="blockquote">
                <pre>
                </pre>
                <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
              </blockquote>
              <pre>



  
                


              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4 bg-secondary">
      <div class="container-fluid">
        <div class="container-fluid py-5 my-5">
          <div class="card" style="width:600px">
            <img class="card-img-top" src="\assets\images\columbus.png" alt="Card image">
            <div class="card-body">
              <pre>



              </pre>
              <h1 class="display-3 text-center">Columbus System</h1>
              <h4 class="text-center"><small>Real-estate property management <kbd>system</kbd></small></h4>
              <blockquote class="blockquote">
                <pre>
                </pre>
                <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, 
                  WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
              </blockquote>
              <pre>






              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 bg-secondary">
      <div class="container-fluid">
        <div class="container-fluid py-5 my-5">
          <div class="card" style="width:600px">
            <img class="card-img-top" src="\assets\images\apsc.png" alt="Card image">
            <div class="card-body">
              <pre>



              </pre>
              <h1 class="display-3 text-center">APSC Shot Timer</h1>
              <h4 class="text-center"><small>Arduino-controlled wireless <kbd>projectile</kbd> hit meter</small></h4>
              <blockquote class="blockquote">
                <pre>
                </pre>
                <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, 
                  WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
              </blockquote>
              <pre>
    
    
    
    
    
    
              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>