<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

  <!-- Main Content -->
  <div class="row">
    <pre>
    </pre>
    <div class="col-sm-4 bg-secondary">
      <div class="container-fluid">
        <div class="container-fluid py-5 my-5">
          <div class="card" style="width:600px">
            <img class="card-img-top" src="\assets\images\alm.png" alt="Card image">
            <div class="card-body">
              <pre>
              </pre>
              <h1 class="display-4 text-center">DOW Application Lifecycle Management</h1>
              <h4 class="text-center"><small>End-to-end application <kbd>security</kbd> project</small></h4>
              <blockquote class="blockquote">
                <pre>
                </pre>
                <p>
                  End to end project management concerning security hardening of more than 168 in-house applications across 2003/2008 VM’s that 
                  were running Legacy Operating Systems. The task was to uplift applications to standard vendor supported status within a timeframe of 8 months operating on a 6-figure allocation.</p>
              </blockquote>
              <pre>



  
                


              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4 bg-secondary">
      <div class="container-fluid">
        <div class="container-fluid py-5 my-5">
          <div class="card" style="width:600px">
            <img class="card-img-top hover-zoom" src="\assets\images\columbus.png" alt="Card image">
            <div class="card-body ">
              <pre>



              </pre>
              <h1 class="display-3 text-center">Columbus System</h1>
              <h4 class="text-center"><small>Real-estate property management <kbd>system</kbd></small></h4>
              <blockquote class="blockquote">
                <pre>
                </pre>
                <p>Real-estate property management can be a very highly tedious and arduous task at times. 
                  This system design focuses mainly on the digitalization of the whole real-estate management process. Using highly efficient profiling and sorting algorithms, 
                  the systen provide prominent and optimized results for the end-users through which they can either apply to specific rental property or find the perfect tenant. 
                  System not only improvises the current manual work but also enables end-users to connect easily with the landowners and vice-versa.</p>
              </blockquote>
              <pre>

              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 bg-secondary">
      <div class="container-fluid">
        <div class="container-fluid py-5 my-5">
          <div class="card" style="width:600px">
            <img class="card-img-top" src="\assets\images\apsc.png" alt="Card image">
            <div class="card-body">
              <pre>



              </pre>
              <h1 class="display-3 text-center">APSC Shot Timer</h1>
              <h4 class="text-center"><small>Arduino-controlled wireless <kbd>projectile</kbd> hit meter</small></h4>
              <blockquote class="blockquote">
                <pre>
                </pre>
                <p>Airsoft players are always looking for a way to improve their gaming experience and stand out from their competition. This Arduino-controlled timer keeps track of reaction time, splits, 
                  and reloads allowing players to maximize their performance when participating in airsoft games. It's light and easy to carry but packs a punch with data such as reaction times and splits 
                  tracked with extreme accuracy so dryfire can be used to gather insights about performances.</p>
              </blockquote>
              <pre>
    
    
              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>