<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

  <!-- Main Content -->

  <div class="row">
    
    <div class="col-sm-6 ">
      <div class="row ">
      <div class="container-fluid py-5 my-5">
        <h1 class="display-1 text-center"><pre>  </pre></h1>
      </div>
      </div>
      <div class="row ">
        <div class="container-fluid py-5 my-5">
          <pre>

          </pre>
          <h1 class="display-1 text-center">How can I help?</h1>
        </div>
        </div>
    </div>

    <div class="col-sm-6 ">
      <div class="row pt-5 border">
        <div class="container-fluid py-5 my-5">
          <h1 class="display-1 text-center">Process Automation</h1>
        </div>
      </div>
      <div class="row border">
        <div class="container-fluid py-5 my-5">
          <h1 class="display-1 text-center">Project Management</h1>
        </div>
      </div>
      <div class="row border ">
        <div class="container-fluid py-5 my-5">
          <h1 class="display-1 text-center">Graphic Design</h1>
        </div>
      </div>
    </div>

  

  </div>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>